.screen-header {
    margin-top: 26px; /* (+) status-bar height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}

.screen-header__new {
    position: absolute;
    right: -6px;
    top: -6px;
}